{{#each ingredients as |ingredient|}}

  <!-- {{> partial}} -->

  <ul data_id="{{ingredient.id}}">
    <li><h1> <small>Name: {{ingredient.name}}, Unit: {{ingredient.unit}}</small></h1></li>
    <li><button class="remove" type="button">Remove</button></li>
  </ul>
{{/each}}
