{{#each ingredients as |ingredient|}}

  <!-- {{> partial}} -->

  <ul data_id="{{ingredient.id}}">
    <li><p> <small>Name: {{ingredient.name}}, Unit: {{ingredient.unit}}</small><button type="button" aria-label="Close"><span aria-hidden="true">&times;</span></button></p></li>
  </ul>
{{/each}}
