{{#each ingredients as |ingredient|}}

  <!-- {{> partial}} -->

  <ul data-id="{{ingredient.id}}">
    <li><button class="select-ing btn" data-id="{{ingredient.id}}">{{ingredient.name}}, {{ingredient.unit}}</button></li>
  </ul>
{{/each}}
