{{#each meals as |meal|}}

  <!-- {{> partial}} -->

<li class="meal-pill" role="presentation" data-id="{{meal.id}}"><a href="#"><h4>{{meal.name}}</h4><button type="button" aria-label="Close"><span aria-hidden="true">&times;</span></button></a></p></li>
{{/each}}
