{{#each meals as |meal|}}

  <!-- {{> partial}} -->

  <ul data_id="{{meal.id}}">
    <li class="meal-pill" data-id="{{meal.id}}"><a href="#"><h4>{{meal.name}}</h4><button type="button" aria-label="Close"><span aria-hidden="true">&times;</span></button></a></p></li>
  </ul>
{{/each}}
