$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Rancho');

$rancho: Rancho;
$black: #000;

* {
  // font-family: $rancho;
}

.modal {
  font-size: 20;
}

.input-fields {
  display: inline-block;
  float: left;
}

.show-results {
  display: inline-block;
}

.info {
  margin: 20px;
}

.meal-block {
  border: 1px solid $black;
  display: inline-block;
  margin: 20px;
  width: 40%;
}

.create-meal-form {
  display: block;
}

.current-ingredients {
  border: 1px solid $black;
  height: auto;
}
